page-modal {
    .modalPage{
        height: 100%;
        display: flex;
        flex-direction: column;
         align-items: center;
         background: $bg-color; 
    }
    ion-content{ 
        display: flex; 
        flex-direction: column; 
        align-items: center;
    }

    .modalComponent {
        width: 250px; 
        height: 250px; 
        border-radius: 8px; 
        background: white; 
        text-align: center;
        margin: auto;
        margin-top: 20%;
        padding-top: 20%;
    }

    .modalComponent > ion-input{
        text-align: center;
        border-bottom: 1px solid #EF5858; 
        // background: blue;
        width: 80%;
        margin: auto;   
    } 

    .modalComponent  ::placeholder {
        text-indent: 40px;
        
    }

     .modalComponent > button {
         margin-top: 10px;
         
     }

   .closeDialog {
        
        background: none;
         border-radius: 100%;
    }


    
   
}
