page-meetpoints {
    .button { background: $bg-color;
    color:$general-color;
    }

    .button p {
    font-size: 2em;
     font-weight: 300;
     color:$general-color;
     padding-left: 10px;
    }
.pageTitle p {
    font-weight: 300; 
    font-style: italic;
}

.pageTitle  p {
    padding-right: 60px;
}
   
}
